.vscode/settings.json
# Ignore Node.js files
Backend/node_modules
Backend/.env

# Ignore Flutter files
Frontend/e_commerce/build/
Frontend/e_commerce/.dart_tool/
Frontend/e_commerce/.flutter-plugins
Frontend/e_commerce/pubspec.lock
Frontend/e_commerce/.gitignore
